.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100dvh;
    padding-top: 7rem;
    text-align: center;
}

.innerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
    text-align: center;
}

.headerImage {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    object-fit: cover;
}

.headingPrimary {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: clamp(1.25rem, 4vw, 1.875rem);
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.headingSecondary {
    font-size: clamp(1.875rem, 6vw, 3rem);
    font-weight: 600;
    margin-bottom: 1rem;
}

.introText {
    max-width: 28rem;
    margin: 1rem auto 2rem;
    line-height: 1.5;
}

.handIcon {
    width: 2rem;
    aspect-ratio: 1;
    transition: transform 0.2s ease;
}

.scrollIndicator {
    /* transform: translateX(-50%); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    animation: fadeInUp 2s ease-out;
    margin-bottom: 20px;
}

.scrollText {
    font-size: 0.875rem;
    color: #4b5563;
    margin: 0;
}

.arrowContainer {
    animation: bounce 2s infinite;
}

.scrollArrow {
    width: 1.5rem;
    height: 1.5rem;
    transform: rotate(90deg);
}

.handIcon:hover {
    transform: rotate(15deg);
}

@media (max-height: 550px) {
    .headerContainer {
        padding-top: 5.5rem;
    }
}

/* Responsive adjustments */
@media (min-width: 640px) {
    .headerImage {
        width: 12rem;
        height: 12rem;
    }
    
    .headingPrimary {
        font-size: 2rem;
    }
    
    .headingSecondary {
        font-size: 3.5rem;
    }
}

@media (max-height: 650px){
    .headerImage {
        width: 7rem;
        height: 7rem;
        margin-bottom: 1rem;
    }
    
    .headingPrimary {
        margin-bottom: 0.5rem;
    }
    
    .headingSecondary {
        margin-bottom: 0.5rem;
    }
    
    .introText {
        max-width: 22rem;
        margin: 0.5rem auto 1.5rem;
        line-height: 1.5;
    }
    
    .handIcon {
        width: 1.5rem;
    }
}


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Add this to your existing media query if needed */
@media (max-width: 640px) {
    .scrollIndicator {
        bottom: 1rem;
    }
}